<!doctype html>
<head>
  <title>LIFEGAME</title>
</head>
<body>
  <table>
    <% b.each do |cs| %>
    <tr>
      <% cs.each do |c| %>
      <td>
        <%= c %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
  <a href="/lifegame?prev=<%= url_encode(s) %>">NEXT GENERATION</a>
  <br/>
  <%= tstp %>
</body>
